header#pageHeader {
    display: flex;
    flex-direction: row;
}

header#pageHeader #logo {
    flex-basis: 25%;
    text-align: center;
}

header#pageHeader #logo div {
    text-align: left;
}

header#pageHeader nav {
    flex-basis: 75%;
    text-align: center;
}

ul.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
}

section.teamCrew i {
    font-size: 90pt;
}

section.teamCrew a {
    text-decoration: none;
}