/*CSS for index.pug*/
#pageFooter{
    text-align: center;  
}

body{
    border: 1px solid red;
    width: 80%;
    margin: 0 auto;
    font-family: sans-serif;
}

#logo, nav{
    border: 1px solid green;
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    height: 52pt;
}

#logo div{
    display:inline-block;
    vertical-align: top;
}

#logo div h1 {
    font-size: 16pt;
    line-height: 0pt;
}

#logo div p {
    font-size: 10pt;
    line-height: 0pt;
}

#logo img{
    width: 50pt;
}

nav ul li{
    display: inline-block;
    background-color: blue;
    color: white;
    list-style-type: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 4px 8px;
}

#description {
    border: 1px solid yellow;
    background-color:grey;
}

#news {
    border: 1px solid magenta;
}

#news h1 {
    font-size: 16pt;
}

#news section #newsInfos {
    border: 1px solid magenta;
    display: inline-block;
}

hr {
    border: none;
    height: 1px;
    background-color: grey; 
}

#titleFooter{
    border: 1px solid blue;
    font-size: 8pt;
    line-height: 0pt; 
}

/*CSS for project-maillouxmaster.pug*/
#mailloux {
    border: 1px solid red;
}

/*CSS for project-nbourgoinmaster.pug*/
#nbourgoin {
    border: 1px solid red;
}

#nbourgoin h1 {
    font-weight:normal;
    font-size: 12pt;
    border: 1px solid blue;
    margin: auto;
}

#publicationFooter{
    border: 1px solid blue;
    font-size: 10pt;
    line-height: 0pt;
    padding: 7px 0;
}

#nbourgoin table{
    border: 1px solid blue;
}